

@font-face{
    font-family: "OpenSans";
    src: '../fonts/opensans/OpenSans-Regular.ttf';
}
@font-face{
    font-family: "BebasNeueReg";
    src: '../fonts/BebasNeue-Regular.otf';
}
@font-face{
    font-family: "DolceVita";
    src: '../fonts/Dolce-Vita.ttf';
}
@font-face{
    font-family: "LemonMilk";
    src: '../fonts/LemonMilk.otf';
}